
<div class="container mt - 5">
  <h1 class="text-center">สถานที่ท่องเที่ยวแม่ฮ่องสอน</h1>
  <div class="row">
    <div class="col-md-4 mb-5">
          <div class="card mx-auto" style="width: 26rem;">
              <img src="assets/0.2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">วัดพระธาตุดอยกองมู</h5>
                <p class="card-text">วัดพระธาตุที่สำคัญอีกแห่งหนึ่งของจังหวัดแม่ฮ่องสอน ตั้งอยู่บนยอดเขาสูงซึ่งจะ
                   มีจุดที่สามารถมองเห็นอำเภอเมืองแม่ฮ่องสอนได้ทั้งเมืองและจะมีร้านกาแฟและชมเมืองที่มีวิวสวยงามในแม่ฮ่องสอนที่สวยงามและมีองค์พระธาตุมีสีขาวที่สวยงาม</p>
                <a href="https://www.wongnai.com/attractions/349292Tm-%E0%B8%A7%E0%B8%B1%E0%B8%94%E0%B8%9E%E0%B8%A3%E0%B8%B0%E0%B8%98%E0%B8%B2%E0%B8%95%E0%B8%B8%E0%B8%94%E0%B8%AD%E0%B8%A2%E0%B8%81%E0%B8%AD%E0%B8%87%E0%B8%A1%E0%B8%B9" class="btn btn-primary">รีวิวเพิ่ม...</a>
              </div>
            </div>
            </div>

      <div class="col-md-4 mb-5">
      <div class="card mx-auto" style="width: 26rem;">
          <img src="assets/06.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> บ้านรักไทย</h5>
            <p class="card-text">บ้านรักไทย วิถีชีวิตแบบ slowlife อย่างแท้จริง ตั้งอยู่แถวเชียงใหม่ 
              แม่ฮ่องสอน เดิมเป็นหมู่บ้านของชาวจีนยูนานและเป็นหมู่บ้านลับแลที่คนรักชาห้ามพลาด เพลิดเพลินด้วยธรรมชาติ 
              อากาศบริสุทธิ์กลางเขา อาหารที่โด่งดังจะเป็นอาหารพื้นเมืองของชาวยูนาน</p>
            <a href="https://www.wongnai.com/attractions/327820tS-%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%A3%E0%B8%B1%E0%B8%81%E0%B9%84%E0%B8%97%E0%B8%A2-%E0%B9%81%E0%B8%A1%E0%B9%88%E0%B8%AE%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B8%AA%E0%B8%AD%E0%B8%99" class="btn btn-primary">รีวิวเพิ่ม...</a>
          </div>
        </div>
        </div>

      <div class="col-md-4 mb-5">
          <div class="card mx-auto" style="width: 26rem;">
              <img src="assets/0.1.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ทุ่งดอกบัวตอง ดอยแม่อูคอ</h5>
                <p class="card-text">ในช่วงต้นฤดูหนาวในของทุกปีๆจะมีทุ่งดอกบัวตองกว้างใหญ่
                   เรียกได้ว่าเป็นทุ่งบัวตองที่ใหญ่ที่สุดในประเทศไทยเลยก็ว่าได้ โดยเฉพาะที่ดอยแม่อูคอ 
                   นักท่องเที่ยวสามารถเดินขึ้นไปที่จุดชมวิวที่หน่วยงานท้องถิ่นจัดไว้ให้ได้ เหมาะแก่การเก็บภาพดีๆ </p>
                <a href="https://www.wongnai.com/attractions/349867qI-%E0%B8%97%E0%B8%B8%E0%B9%88%E0%B8%87%E0%B8%9A%E0%B8%B1%E0%B8%A7%E0%B8%95%E0%B8%AD%E0%B8%87%E0%B8%94%E0%B8%AD%E0%B8%A2%E0%B9%81%E0%B8%A1%E0%B9%88%E0%B8%AD%E0%B8%B9%E0%B8%84%E0%B8%AD" class="btn btn-primary">รีวิวเพิ่ม...</a>
              </div>
            </div>
            </div>
  </div>
  <h1 class="text-center">หนาวแล้ว ไปแม่ฮ่องสอนกัน!</h1>
  <div class="container mt-5 text-center">
    <div class="card" style="width: 100%;">
      <img src="assets/77.png" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">แนะนำสำหรับที่เที่ยวแม่ฮ่องสอนเพิ่มเติม</h5>
      <p class="card-text"></p>
      <a href="https://roijang.com/%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B9%81%E0%B8%A1%E0%B9%88%E0%B8%AE%E0%B9%88%E0%B8%AD%E0%B8%87%E0%B8%AA%E0%B8%AD%E0%B8%99/" class="btn btn-primary">แนะนำเพิ่ม...</a>
    </div>

</div>


