<div class="container mt - 5">
    <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
    <div class="row">
      <div class="col-md-4 mb-5">
            <div class="card mx-auto" style="width: 22rem;">
                <img src="assets/Teams/กล้าแกร่ง.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">นาย กฤตชัย ไกรโสภา</h5>
                  <p class="card-text">ปวส.1/5</p>
                  <a href="#" class="btn btn-primary">กล้าแกร่ง</a>
                </div>
              </div>
              </div>

        <div class="col-md-4 mb-5">
        <div class="card mx-auto" style="width: 22rem;">
            <img src="assets/Teams/บอมเบ.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> นาย อภิชิต แพร่สาร</h5>
              <p class="card-text">ปวส.1/5</p>
              <a href="#" class="btn btn-primary">บอมเบ</a>
            </div>
          </div>
          </div>

        <div class="col-md-4 mb-5">
            <div class="card mx-auto" style="width: 22rem;">
                <img src="assets/Teams/05.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">นาย โชติวัฒน์ ยศไธสง</h5>
                  <p class="card-text">ปวส.1/5</p>
                  <a href="#" class="btn btn-primary">เบส</a>
                </div>
              </div>
              </div>
    </div>
  </div>